.mainOfertas {
    div {
        .ofertas {
            color: map-get($map: $colores, $key: fontAlt-color);
            background: map-get($map: $colores, $key: backgrounds);
            border: 1px solid $color-cards;
            box-shadow: 0 15px 32px 5px map-get($map: $colores, $key: shadowAlt-color);
            margin: 1rem 0 1rem 0;
            padding: 1rem;
            width: 80%;
            transition: 1s ease-in-out;
        }
        .ofertasCards {
            background-image: url("../img/spaceassault.jpg");
            @extend %bg-img;
            width: 100%;
            padding: 1rem;
            margin: 1rem auto;
            border: 0.2rem groove $border-color;
            border-radius: 1rem;
            box-shadow: 0.5rem 1rem 2rem map-get($map: $colores, $key: shadow-color);
            transition-duration: 0.6s;
            .cardOfertas {
                width: 90%;
                border-radius: 10px;
                background-color: map-get($map: $colores, $key: card-color);
                border: 0.2rem $color-cards solid;
                transition-duration: 0.6s;
            }
            .cardOfertas:hover {
                transform: scale(1.1);
            }
        }
        .ofertasCards:hover {
            background-image: url("../img/stormtrooper.jpg");
            border: 0.2rem groove map-get($map: $colores, $key: card-Hover);
        }
    }
}