.mainServicios {
    .tituloServ {
        .servicios-titulo {
            width: 60%;
            margin: 1rem auto;
            padding: 1rem;
            text-align: center;
            color: map-get($map: $colores, $key: fontAlt-color);
            background: map-get($map: $colores, $key: backgrounds);
            border: 1px solid $color-cards;
            box-shadow: 0 15px 32px 5px map-get($map: $colores, $key: shadowAlt-color);
            transition: 1s ease-in-out;
        }
    }
    .container {
        margin: 2rem auto;
        .servicios {
            width: 80%;
            margin: 1rem auto;
            padding: 1rem;
            color: map-get($map: $colores, $key: fontAlt-color);
            background: map-get($map: $colores, $key: backgroundsAlt);
            border: 1px solid $color-cards;
            box-shadow: 0 15px 32px 5px map-get($map: $colores, $key: shadowAlt-color);
            transition: 1s ease-in-out;
            text-align: center;
        }
        .serviciosCards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            padding: 1rem;
            margin: 1rem auto;
            gap: 10%;
            text-align: center;
            background-image: url("../img/bespin.jpg");
            @extend %bg-img;
            border: 0.2rem groove $border-color;
            border-radius: 1rem;
            box-shadow: 0.5rem 1rem 2rem map-get($map: $colores, $key: shadow-color);
            .cardServicios {
                display: flex;
                margin: 2rem 0 2rem 0;
                width: 24rem;
                height: 24rem;
                border-radius: 1rem;
                background-color: rgba(34, 34, 34, 0.699);
                border: 0.2rem $color-cards solid;
                img {
                    width: 23.5rem;
                    height: 23.5rem;
                }
            }
            .cardServicios:hover {
                transform: scale(1.1);
                animation-duration: 2s;
            }
            .contactoCards {
                display: flex;
                width: 40%;
                height: auto;
                text-align: center;
                margin: 2rem auto;
                border-radius: 1rem;
                background-color: rgba(34, 34, 34, 0.699);
                border: 0.2rem $color-cards solid;
                transition: all .5s ease-in-out;
                cursor: pointer;
            }
            .contactoCards:hover {
                color: #5a94fa;
            }
        }
        .serviciosCards:hover {
            background-image: url("../img/stormtrooper.jpg");
            border: 0.2rem groove map-get($map: $colores, $key: card-Hover);
            transition-duration: 0.6s;
        }
    }
}