@media screen and (max-width:520px) {
    header {
        .navbar {
            text-decoration: none;
            font-size: 1.2rem;
            .container-fluid {
                .logo img {
                    display: none;
                }
            }
        }
    }
    .productos {
        .productosCards {
            .cardNoticias {
                width: 22rem;
            }
        }
        .cardProductos img#productImg {
            height: 18rem;
        }
    }
    .noticias {
        .noticiasCards {
            .cardNoticias {
                width: 22rem;
            }
        }
        .cardNoticias img#newsImg {
            height: 16rem;
        }
    }
    .carousel-item {
        img#carouselImg {
            height: 40vh;
        }
    }
    .categoriasCards {
        .cardCategorias#categoryCard {
            height: 18rem;
        }
        img#categoryImg {
            height: 18rem;
        }
    }
}